[Unit]
Description=HM305p power supply control

[Service]
Type=simple
EnvironmentFile="/root/hm305_ctrl/configs/%I"
ExecStart=/root/hm305_ctrl/hm305p_server.py --port $PORT --serial-port=$SERIALPORT

[Install]
WantedBy=multi-user.target
